.printable-bill {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.printable-bill h2 {
  text-align: center;
  margin-bottom: 20px;
}

.printable-bill .bill-customer-details,
.printable-bill .bill-footer,
.printable-bill .bill-footer-section {
  margin-bottom: 20px;
}

.printable-bill .table th,
.printable-bill .table td {
  text-align: left;
  width: 80px;
}

.printable-bill .bill-footer p,
.printable-bill .bill-footer-section p {
  font-size: 14px;
}

.hed1 {
  color: var(--primary-color);
}

.hed2 {
  color: var(--secondary-color);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}
